* {
    margin: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    
}

a:hover {
    background-color: grey;
}

.mytable {
    border: 1px solid grey;
    border-collapse: collapse;
    width: 500px;
}



