<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="emailServerConfig" class="com.dbs.firstspringapp.service.EmailServerConfig">
    <property name="serverid" value="192.168.2.3" />
    <property name="authtoken" value="$ERTY%678" />
</bean>
<bean id="emailService" class="com.dbs.firstspringapp.service.EmailService">
   <constructor-arg ref="emailServerConfig" />
</bean>
<bean id="orderService" class="com.dbs.firstspringapp.service.OrderService">
    <constructor-arg ref="emailService" />
</bean>
</beans>